{% extends "template.html" %}
{% block content %}
<input type="text" placeholder="Item" name="item">
<br>
<br>
<select name="category" id="category" required>
  <option value="{{categories[0]}}" selected> {{categories[0]}} </option>
  {% for cat in categories[1:] %}
  <option value="{{cat}}">{{cat}}</option>
  {% endfor %}
</select>

<br>
<br>

Expires? &nbsp;

<input type="radio" name="expire" value="yes" required checked> Y
&nbsp;
<input type="radio" name="expire" value="no"> N

<br>
<br>

Metrics

&nbsp;
&nbsp;

Default Number

<br>
<br>

{% endblock content %}
