<html>
  <head>
    <title>Lists!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </head>

  
  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Shopping</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
	  <li class="nav-item active">
            <a class="nav-link" href="update.html">Home <span class="sr-only">(current)</span></a>
	  </li>

	  <li class="nav-item"> 
            <a class="nav-link" href="add.html">Add</a>
	  </li>

	  <li class="nav-item"> 
            <a class="nav-link" href="list.html">List</a>
	  </li>

	  <li class="nav-item"> 
            <a class="nav-link" href="items.html">Items</a>
	  </li>

	  <li class="nav-item"> 
            <a class="nav-link" href="manage.html">Manage</a>
	  </li>

	</ul> 
      </div> 
    </nav>
    <!--
	<li class="nav-item"> 
          <a class="nav-link" href="#">fgt</a>
	</li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>
--> 

    <!--
	<form class="form-inline my-2 my-lg-0">
	  <input class="form-control mr-sm-2" type="text" placeholder="Search">
	  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	</form>
	-->

    <!--
	</div>
</nav>
<a class = "center" href = "update.html">
  <center>
    <button type="button"  class="btn btn-primary btn-lg">UPDATE</button>
  </center>
</a>  

<a class = "center" href = "add.html">
  <center>
    <button type="button" class="btn btn-primary btn-lg">ADD</button>
  </center>
</a>  

<a class = "center" href = "list.html">
  <center>
    <button type="button" class="btn btn-primary btn-lg">LIST</button>
  </center>
</a>  

<a class = "center" href = "items.html">
  <center>
    <button type="button" class="btn btn-primary btn-lg">ITEMS</button>
  </center>
</a>  

<a class = "center" href = "manage.html">
  <center>
    <button type="button" class="btn btn-primary btn-lg">MANAGE</button>
  </center>
</a>  
-->
    ITEMS LOL???? Here's a nutton idk how2format <button type="button" class="btn btn-primary btn-lg">MANAGE</button>
    <!-- button code above -->
    
  </body>
</html>
